/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #ede7f68f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/* Buttons */
button,
input[type='submit'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
input[type='submit']:hover {
  background-color: #0069d9;
}

/* Form elements */
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.firstheading {
  color: #4d0aa4;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  animation: fadeInUp 2s ease-in-out;
}

.secondaryheading {
  color: #000;
  font-size: 74px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 20px;
  max-width: 550px;
  margin-left: 4px;
  animation: fadeInUp 2s ease-in-out;
}

.description {
  color: #505050;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  max-width: 550px;
  animation: fadeInUp 2s ease-in-out;
}

.heading {
  margin: 50px 50px;
  flex: 1;
}

.btn-circle {
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 10px 30px;
  background: linear-gradient(115deg, #4d0aa4ba, #ad77ff);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 3px 4px 10px 0px #4d0aa4;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.5px;
  animation: fadeInUp 2s ease-in-out;
  margin-top: 20px;
}

.headingimage {
  flex: 1;
  margin-top: 45px;
}

.landingmainsection {
  background-color: #ede7f68f;
  padding-top: 180px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .headingimage,
  .heading {
    flex: 1 1 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
